{% extends 'App/padre.html' %}

{% load static %}


{% block cambiante %}


 
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('https://img.freepik.com/foto-gratis/viejo-fondo-negro-textura-grunge-pizarra-pizarra-hormigon_1258-52289.jpg?t=st=1650730454~exp=1650731054~hmac=abf258992efc4eff843a5ac4cd9ab1ea56cd6f49870d5a9a40edb088badb72ad&w=1480')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="/media/avatars/about.png" width="250px" />
        <h1 class="text-white fs-3 fw-bolder">De Biase Leonardo</h1>
        <p class="text-white-50 mb-0"></p>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Bienvenido a mi pagina!</h2>
                
                <p class="mb-0">Espero que hayas tenido una buena experiencia durante el uso de esta pagina. tengo 22 años y esta pagina fue el trabajo de varios meses aprendiendo python y django en CoderHouse.</p>
                <p class="mb-0"></p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
{% endblock cambiante %}