{% extends 'App/padre.html' %}

{% load static %}


{% block cambiante %}



<div style="margin: 2%;">
{% for p in blogs %}
    

<div class="container bcontent  ">

    <h2>{{p.titulo}}</h2>
    
    <div class="card border border-3 border-dark" style="width: 500px;">
        <div class="row no-gutters">
            <div class="col-sm-5">
                <img class="card-img" src="{{url2}}" alt="Suresh Dasari Card">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h3 class="card-title">{{p.subtitulo}}</h3>
                    <p class="card-text">Creador por: {{p.creador}}</p>
                    {% if request.user.is_authenticated %}
                        <div style="padding: 1%;">             
                                <a class="btn btn-outline-secondary border-dark" href="{% url 'Borrarblog' p.id%}">Borrar</a>      
                                <a class="btn btn-outline-secondary border-dark" href="{% url 'Editarblog' p.id%}">editar</a>       
                                <a class="btn btn-outline-secondary border-dark" href="{% url 'Blogespecifico' p.id%}">Leer mas.</a>       
                        </div>      
                        {% else %}
                        <div style="padding: 1%;">   
                                <a class="btn btn-outline-secondary border-dark" href="{% url 'Blogespecifico' p.id%}">Leer mas.</a> 
                        </div>
                        </li>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
        
        
{% endfor %}
</div>

<div>
<p><a class="btn btn-outline-secondary border-dark" href="{% url 'Crear' %}">Crear blog</a></p>
</div>    
{% endblock cambiante %}
