

{% extends 'App/padre.html' %}

 {% load static %}
    
    
{% block cambiante %}
    <p><h3>Buscador de blogs:</h3></p>

    <form action="/App/resultado_blog" method="GET" >

        <p>Titulo:</p><input style='border-radius: 10px; text-align: center;' type="text" name="prd">
        <input type="submit" value="Buscar">

    </form>   

    
    {% for x in total %}
        <li>
        <p>{{x.titulo}}</p>
        <p>{{x.id}}</p>
        <p>{{x.creador}}</p>
        <p>{{x.contenido}}</p>
          <a href="{% url 'borrar_blog' x.id %}">borrar blog</a>
        </li>
    {% endfor %}
        

    
        

{% endblock cambiante %}
    
