{% extends 'App/padre.html' %}

{% load static %}

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>


{% block cambiante %}

<p><h3>CREAR NUEVO BLOG</h3></p>



{% if miFormulario1.errors %}

<p style="color: red;"> Estan mal los datos</p>

{% endif %}


    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

        <article style="border-style: solid; border-width: 3px;  margin-left: 20%; margin-right: 20%; margin-bottom: 1%; padding: 1%;">
            <!-- Post header-->
            <table>
                
                {{miFormulario1.media}}
                {{miFormulario1.as_p}}
                
                
            
                </table>
            
            
                <input type="submit", value="Enviar">
        </article>

    </form>
    
{% endblock cambiante %}


