{% extends 'App/padre.html' %}

{% load static %}


{% block cambiante %}

<P><h3>Bienvenido a mi pagina!</h3></P>
<div>
    {% if miFormulario.errors %}
     <p style="color: red"> Hay problemas con los datos cargados</p>
    {% endif %}
        

    <form action="" method="POST">
        {% csrf_token %}
        
            
            
        <p>Remitente: <input style="border-radius: 10px; text-align: center;" type="text" name="remitente" pattern="[A-Za-z]{1,15}"></p>
        <p>Destinatario: <input style="border-radius: 10px; text-align: center;" type="text" name="destinatario" pattern="[A-Za-z]{1,15}"></p>
        <p>Mensaje:</p> 
        <p><textarea name="contenido" id="" cols="10" rows="10" style="text-align: center;"></textarea></p>
         
          
        

        <input type="submit" value="Enviar mensaje">
    </form>

</div>



{% if request.user.is_authenticated%}


    <div style="text-align: center;" >
        <table class="table">

            

            
           
                

            <tbody>
                
                {% for x in cont_familia %}
                <div style="border-style: solid; border-width: 3px;  margin-left: 20%; margin-right: 20%; margin-bottom: 1%; padding: 1%;">
                <p>Mensaje de: {{x.remitente}}</p>
                <p>{{x.destinatario}}</p>
                <p>{{x.contenido}}</p>
                </div>
            
            {% endfor %}
            
           
                
            </tbody>

{% else %}
<p>no hay mensajes</p>

{% endif %}

        </table>
    </div>



    
{% endblock cambiante %}