{% extends 'App/padre.html' %}

{% load static %}


{% block cambiante %}


<p>Estas buscando: {{query}}</p>

{% if nombres %}

    <p>Nombres encontrados: {{nombres|length}}</p>
    

        {% for nombre1 in nombres %}

        
        <article style="border-style: solid; border-width: 1px;  margin-left: 30%; margin-right: 30%; margin-bottom: 1%;">
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">Nombre : {{nombre1.nombre}}</h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">Apellido: {{nombre1.apellido}}</div>
                <div class="text-muted fst-italic mb-2">Email: {{nombre1.email}}</div>
                <!-- Post categories-->
            </header>
        
        </article> 
                
        
        
        {% endfor %}
    
        


{% else %}

<p>No hay coincidencias</p>

{% endif %}
    



<a class="navbar-brand" href="{% url 'Busqueda'%}">Volver a buscar</a>
    
{% endblock cambiante %}
    



    