{% extends 'App/padre.html' %}

{% load static %}


{% block cambiante %}


<p>estas buscando</p>


{% if blogs %}

    <p>Productos encontrados: {{blogs|length}}</p>

    

        
        {% for blog in blogs %}
            
        
        <article style="border-style: solid; border-width: 1px;  margin-left: 30%; margin-right: 30%; margin-bottom: 1%;">
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">Producto: {{blog.producto}}</h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">Categoria: {{blog.categoria}}</div>
                <div class="text-muted fst-italic mb-2">Precio: ${{blog.precio}}</div>
                <!-- Post categories-->
            </header>
        
        </article>
        {% endfor %}


{% else %}

    <p>no hay coincidencias</p>

    
{% endif %}
    

<a class="navbar-brand" href="{% url 'Busqueda'%}">Volver a buscar</a>
    
{% endblock cambiante %}
    

