{% extends 'App/padre.html' %}



{% block cambiante %}


<p>estas buscando</p>

<div>
{% if blogs %}

    <p>blogs encontrados: {{blogs|length}}</p>

    
    
        
        {% for blog in blogs %}

        <article style="border-style: solid; border-width: 1px;  margin-left: 20%; margin-right: 20%; margin-bottom: 1%;">
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{usern.username}}</h1>
                <!-- Post meta content-->
            
                <!-- Post categories-->
            </header>
            <!-- Preview image figure-->
            <!-- Post content-->
            <section class="mb-5">
                
            
            </section>
        </article>
     
        {% endfor %}
    
    
   

{% else %}

    <p>no hay coincidencias</p>

    
{% endif %}
</div> 

<a class="navbar-brand" href="{% url 'Busqueda'%}">Volver a buscar</a>
    
{% endblock cambiante %}